//Global stuff

a, img, svg{
  @include single-transition(all, $anchor-transition-speed, ease-out);
}
#news-row{
  position: relative;
}
header h1, #news-row h1{
  background-color: $primary-color;
  width: 100%;
  display: inline-block;
  position: absolute;
  color: $white;
  left:0;
  margin-top: 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
//now we need to lower the content, because of absolute positioning of header h1
div.entry-content {
  position: relative;
  margin-top: 5rem;
}
.news-wrapper {
  position: relative;
  padding-top: 5rem;
}
.newsdivider{
  width: 100%;
  clear: both;
}
.nofront{
  height: rem-calc(200)!important;
}
@include breakpoint(medium) {
   .nofront {
     height: rem-calc(400) !important;
   }
 }
li.orbit-slide .small-6:first-of-type {
  padding: 1rem 1rem 0 2rem;
}

li.orbit-slide .small-6:nth-of-type(2) {
  padding: 1rem 2rem 0 1rem;
}
@include breakpoint(medium) {

  li.orbit-slide .small-6:first-of-type {
    padding: 1rem 2rem 0 4rem;
  }

  li.orbit-slide .small-6:nth-of-type(2) {
    padding: 1rem 4rem 0 2rem;
  }
}
@include breakpoint(large) {

  li.orbit-slide .small-6:first-of-type {
    padding: 1rem 2rem 0 6rem;
  }

  li.orbit-slide .small-6:nth-of-type(2) {
    padding: 1rem 6rem 0 2rem;
  }
}
li.orbit-slide h2{
  text-transform: uppercase;
  font-size: 1.2rem;
}

ul.orbit-container button {
  display: block!important;
  visibility: visible!important;
  background: none 0 0 repeat scroll $primary-color !important;
  appearance:button;
  -moz-appearance:button; /* Firefox */
  -webkit-appearance:button; /* Safari and Chrome */
}

li.orbit-slide img{
  margin-bottom: 1rem;
}

// Page header
#front-hero {
  .marketing {
    @include grid-row();
    max-width: 55rem;
  }

  @include breakpoint(small) {
    background: url('../images/demo/hero-bg-foundation-6-small.svg') bottom center;
    background-size: cover;
    background-position: bottom;
    padding: rem-calc(65%) 0;
    margin: 0;
    height: auto;
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background: url('../images/demo/hero-bg-foundation-6-large.svg') bottom center;
    background-size: cover;
    background-position: center;
    height: rem-calc(685);
    margin: 0;
  }

  #watch {
    @include breakpoint(small) {
      @include grid-column(7);
      @include grid-column-position(-5);
    }

    @include breakpoint(medium) {
      @include grid-column(12);
      @include grid-column-position(0);
    }

    section {
      display: inline;
    }

    a {
      color: #B4C9D1;
      cursor: pointer;
      font-weight: 400;
      margin-right: rem-calc(20);
    }

    a:hover {
      color: #fff;
    }

    #stargazers {
      :before {
        content: "\f09b";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #B4C9D1;
        margin-right: rem-calc(8);
      }
    }

    #twitter {
      :before {
        content: "\f099";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #B4C9D1;
        margin-right: rem-calc(8);
      }
    }

  }

  .tagline {
    @include breakpoint(small) {
      @include grid-column(8);
    }

    @include breakpoint(medium) {
      @include grid-column(5);
      padding-top: 6rem;
    }
  }

  h1 {
    color: #fff;
    font-weight: 500;

    @include breakpoint(small) {
      font-size: 2.2rem;
    }

    @include breakpoint(medium) {
      font-size: 2.875rem;
    }
  }

  h4 {
    color: #fefefe;
    font-weight: 300;
    font-size: 1.3125rem;
  }

  .download {
    margin-top: rem-calc(20);
  }
}

// Intro
.intro {
  @include grid-row();

  .fp-intro {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(10);
      @include grid-column-offset(1);

      h2 {
        font-weight: 300;
        margin-bottom: 1.5rem;
      }

      h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
        margin-bottom: 2rem;
      }
    }
  }
}
article:not(.widget){
  background-color: white;
}

// Section divider
.section-divider {
  @include grid-row();

  hr {
    @include grid-column(12);
    @extend .dotted;
    box-sizing: border-box;
  }
}


// Benefits
.benefits {
  @include grid-row();
  text-align: center;

  header {
    @include grid-column(12);

    h2 {
      font-weight: 300;
    }

    h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777;
    }
  }

  .semantic,
  .responsive,
  .customizable,
  .professional {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(3);
    }

    img {
      padding: 1.25rem;
      margin: 1rem auto 0 auto;
    }

    h3 {
      color: #0a0a0a;
      font-weight: 300;
      font-size: 1.75rem;
    }

    p {
      font-size: 0.9375rem;
    }
  }

  .why-foundation {
    @include grid-row();
    @include grid-column(12);
    margin-top: 4rem;
  }
}
